@model PruebaT.Web.Models.Search<SOpp>


<div class="col-md-4">
    <div class="blog-sidebar black-section">
        <br/>
        <!-- SEARCH WIDGET -->
        <div class="widget clearfix black-section">
            <form class="form-inline form" role="form">
                <div class="search-wrap clearfix black-section">

                    <input type="text" class="form-control search-field" placeholder="Search...">
                    <button style="height:50px; padding-top:10px;" class="search-button glyphicon glyphicon-search" type="submit" title="Start Search">
                        <i class="lnr lnr-magnifier"></i>
                    </button>

                </div>
            </form>
            <div>
                <h4> Type of Job</h4>
                <ul>
                    <li><a href="javascript:void(0)">Full-time employment</a></li>
                    <li><a href="javascript:void(0)">Part-time employment </a></li>
                    <li><a href="javascript:void(0)">Freelance gigs </a></li>
                    <li><a href="javascript:void(0)">Internships </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-md-8">
    <div class="row multi-columns-row">
        <div class="containertab">
            @if (Model.Results.Count() == 0)
            {
                <H5>No hay Personas para esta Busqueda.</H5>
            }
            else
            {

                @foreach (var item in Model.Results)
                {
                    String url = item.organizations.First().picture;

                    <div class="card">
                        <div class="classimg">
                            <a href="@Url.Action("Oppotunity", "Home",new {id = item.id})" title="List View" class="links">
                                <img alt="People" src="@Url.Content( url )" width="330" height="300" />
                            </a>
                        </div>
                        <a asp-action="Oppotunity" asp-route-id="@item.id">
                            <h4 style="padding-top:80px">@item.objective</h4>
                            <p>@item.organizations.First().name <br/>
                            Locations  @item.locations.FirstOrDefault() <br />
                            @item.deadline</p>
                        </a>
                    </div>
                }
            }

         </div>


            <!-- BLOG PAGINATION
        ================================================== -->
            <nav class="page-pagination mt-60">
                <ul class="page-numbers">
                    <li><span class="page-numbers current">1</span></li>
                    <li><a class="page-numbers" href="javascript:void(0)">2</a></li>
                    <li><a class="page-numbers" href="javascript:void(0)">3</a></li>
                    <li><a class="page-numbers" href="javascript:void(0)"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>