@model PruebaT.Web.Models.Search<SPerson>


<div class="col-md-4">
    <div class="blog-sidebar black-section">
        <br/>
        <!-- SEARCH WIDGET -->
        <div class="widget clearfix black-section">
            <form class="form-inline form" role="form">
                <div class="search-wrap clearfix black-section">
                    <input type="text" class="form-control search-field" placeholder="Search...">
                    <button style="height:50px; padding-top:10px;" class="search-button glyphicon glyphicon-search"  type="submit" title="Start Search">
                        <i class="lnr lnr-magnifier"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-md-8">
    <div class="row multi-columns-row">
        <div class="containertab">

            @if (Model.Results.Count() == 0)
            {
                <H5>No hay Personas para esta Busqueda.</H5>
            }
            else
            {

                @foreach (var item in Model.Results)
                {
                    String url = item.picture;

                    <div class="card">
                        <div class="classimg">
                            <a href="@Url.Action("Bio", "Home",new {id = item.username} )" title="List View" class="links">
                                <img alt="People" src="@Url.Content( url )" width="330" height="330"/>
                            </a>
                        </div>
                        <a asp-action="Bio" asp-route-id="@item.username">
                            <h4 style="padding-top:105px">@item.name</h4>
                            <p>@item.username <br/>
                            @item.professionalHeadline</p>
                        </a>
                    </div>
                    
                }
            }

        </div>


            <!-- BLOG PAGINATION
        ================================================== -->
            <nav class="page-pagination mt-60">
                <ul class="page-numbers">
                    <li><span class="page-numbers current">1</span></li>
                    <li><a class="page-numbers" href="javascript:void(0)">2</a></li>
                    <li><a class="page-numbers" href="javascript:void(0)">3</a></li>
                    <li><a class="page-numbers" href="javascript:void(0)"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>

