@model PruebaT.Web.Models.Bio

@{
    ViewData["Title"] = "Bio";
}

<h2>Bio</h2>

<div>
    <h4>Bio</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="containertab">
            <div class="col-md-4"> </div>
            <div class="col-md-4">
                <img alt="People" src="@Url.Content( Model.person.picture )" style="border-radius:15px" width="330" height="330" />
            </div>
            <div class="col-md-4"> </div>
            <div class="col-md-12 center-block text-center">
                <br />
                <h5>@Html.DisplayFor(model => model.person.name)</h5>
                <h4>@Html.DisplayFor(model => model.person.professionalHeadline)</h4>
                <div class="col-md-4">
                    <h3> Strengths</h3>
                    @if (Model.strengths.Count() == 0)
                                {
                    <H5></H5>
                                }
                                else
                                {

                    @foreach (var item in Model.strengths)
                                {


                    <div class="cardbio">

                        <h4 style="padding-top:80px">@item.name</h4>
                        <p>
                            @item.weight <br />
                            @item.created
                        </p>

                    </div>
                                }
                            }
                </div>
                <div class="col-md-4">
                    <h3> Experience</h3>

                    @if (Model.experiences.Count() == 0)
            {
                    <H5></H5>
            }
            else
            {

                    @foreach (var item in Model.experiences)
                {
                    

                    <div class="cardbio">
                        
                            <h4 style="padding-top:80px">@item.name</h4>
                            <p>
                                @item.category <br />
                            @item.fromYear - @item.fromMonth
                        </p>
                    
                    </div>
                }
            }

                </div>
                <div class="col-md-4">
                    <h3> interest</h3>

                    @if (Model.interests.Count() == 0)
                                {
                    <H5></H5>
                                }
                                else
                                {

                    @foreach (var item in Model.interests)
                                {


                    <div class="cardbio">

                        <h4 style="padding-top:80px">@item.name</h4>
                        <p>
                            @item.created
                        </p>

                    </div>
                                }
                            }

                </div>
            </div>
        </div>

    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
