@model PruebaT.Web.Models.Opportunity

@{
    ViewData["Title"] = "Opportunity";
}

<h2>Opportunity</h2>

<div>
    <hr />
    <img alt="People" src="@Url.Content( Model.openGraph)" width="1080" height="1080" />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.locale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.locale)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.objective)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.objective)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.review)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.review)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.deadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.deadline)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.slug)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.slug)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.completion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.completion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.opportunity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.opportunity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stableOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stableOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.openGraph)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.openGraph)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
